<!DOCTYPE html>
<html>
<head>
  <title>Compra y Venta. Olavarría</title>
  <meta name="description" content="Compra Venta Olavarria es un sitio donde podes realizar compra y venta en la ciudad de olavarria. Registrate, compra y vende. Clasificados de todos los rubros.">
  <meta name="keywords" content="compra, venta, olavarria, clasificados">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= render 'layouts/header' %> 

<div id="cuerpo">
	<div class="container"><%= render partial: "layouts/flash_messages", locals: {flash: flash} %></div>
	<%= yield %>
</div>

<footer>
	<center><span class="negrita">
		<a href="/" style="color: red">EL/LM</a>     -     2015
	</span></center>
</footer>

</body>
</html>